@mixin directionX {
  display: flex;
  flex-direction: row;
}
@mixin directionXCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin directionY {
  display: flex;
  flex-direction: column;
}
